<%= render "devise/shared/header" %>

<div class="jumbotron">
  <div class="container">
    <nav class="navbar navbar-light ">
     <div class = "home text-left">
      <%= link_to "COMPANY",root_path ,class: "navbar-brand text-white" %>
     </div>
   </nav>
  </div>


<body>
  <div class="top-title ">
  <h1 class="text-white d-flex ">
     人と企業をマッチングするアプリ
    </h1>
    <h1 class="text-white text-center">
      Best Job
    </h1>
  



  <div class="top-authentication text-center">
    <div class="top-authentication__sign-up-btn m-3">
      <%= link_to "はじめる",companys_path , class: "btn text-white" %>
    </div>
</div>

  </div>
</div>
</body>



<%= render "devise/shared/footer" %>
