<div class = "home text-left">
<%= link_to "COMPANY",root_path ,class: "navbar-brand text-black" %>
</div>
<!doctype html>

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Cover Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.2/examples/cover/">

    <!-- Bootstrap core CSS -->
<link href="/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">About us</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">自由に転職ができる世界</h1>

    <p class="lead">現在本当の意味で仕事を心から楽しんでしている方は一体どのくらいの割合なのだろうか？そういった方達は毎日が非常に充実していて心から尊敬できるし素晴らしいと思います。</p>
    <p>しかし、その反面「もう歳だから今から転職は無理がある」「今の会社は辛いけど転職するのは生活が変わってしまうから怖い」「やってみたいことはあるが今より状況が悪くなったらどうしよう」などいろんな不満を抱えながら仕事をしている方達も非常に数多く存在することと思う。</p>
    <p>このアプリケーションではそういった思いのあるユーザーと、「今まで」ではなく「今とこれから」を尊重してくださる企業をマッチングアプリを通じて是非今後の人生の転機としてご活用いただけるよう開発させていただきました。</p>
    <p>たった一度しかない人生だからこそ悔いがない仕事選びができますよう心から応援しております。</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </main>


</div>
</body>
  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
  </footer>
</html>
